.modal-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 0.4rem;
    font-size: 2rem;
    color: white;
    background: #52c0de;
    border-top: 4px solid #5bd5f7;
}

.modal-body {
    padding: 1rem;
}