.sequence-item {
  position: relative;
  display: inline-flex;
  padding: 1rem;
  border-radius: 100%;
  border: 3px solid white;
  background-color: #00000000;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  box-shadow: 0 0 4px 3px #0000003d;
  text-shadow: 1px 1px 2px #0000007d;

  .sequence-label {
    position: absolute;
    top: 4.5rem;
    color: white;
    text-shadow: 1px 1px 2px #0000007d;
    font-size: 1.2rem;
  }

  &.enabled {
    cursor: pointer;
  }

  &.disabled {
    text-shadow: none;
    background-color: #c7c7c7;
    color: gray;
  }

  &.enabled:hover {
    text-shadow: none;
    background-color: #00000024;
    color: white;
  }

  &.active {
    text-shadow: none;
    background-color: #5bd5f7;
    color: white;
  }
}

.sequence {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;

  .sequence-item {
    position: relative;
    margin: 0 2rem;
  }

  .sequence-item + .sequence-item {
    &:before {
      content: "";
      height: 0.25rem;
      background: #c5c5c5;
      position: absolute;
      width: 3rem;
      left: -3.6rem;
    }
  }
}
