.sequence-item {
  position: relative;
  display: inline-flex;
  padding: 1rem;
  border-radius: 100%;
  border: 3px solid #5bd5f7;
  background-color: #00000000;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #5bd5f7;
  font-size: 2rem;

  .sequence-label {
    position: absolute;
    top: 4.5rem;
    color: #818181;
    font-size: 1.2rem;
  }

  &.enabled {
    cursor: pointer;
  }

  &.disabled {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
    color: gray;
  }

  &.enabled:hover {
    background-color: #52c0de;
    color: white;
  }

  &.active {
    background-color: #5bd5f7;
    color: white;
  }
}

.sequence {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;

  .sequence-item {
    position: relative;
    margin: 0 2rem;
  }

  .sequence-item + .sequence-item {
    &:before {
      content: "";
      height: 0.25rem;
      background: #c5c5c5;
      position: absolute;
      width: 3rem;
      left: -3.6rem;
    }
  }
}
