.jx-button {
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &.enabled {
    cursor: pointer;
  }

  &.normo {
    &.mortal {
      background: #33b1d4;
      box-shadow: 0px 0px 4px 1px #98c3ca6e;
    }

    &.ghost {
    }
    height: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;

    .jx-button-label:not(.icon-on-left) {
      margin-right: 0.6rem;
    }

    .jx-button-label.icon-on-left {
      margin-left: 0.6rem;
    }

    .jx-button-icon {
      display: flex;
    }
  }

  &.square {
    padding: 0.2rem;
    border-radius: 0.4rem;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
  }

  &.tile {
    &.mortal {
      background: #33b1d4;
    }

    &.ghost {
      border: 3px solid white;
      text-shadow: 1px 1px 2px #0000009c;
      box-shadow: 1px 2px 3px 1px #0000002e;
      svg {
        filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
      }

      &.disabled {
        border-color: #c1c1c1;
        color: #c1c1c1;
      }
    }

    height: 9rem;
    width: 9rem;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.jx-button-group {
  .jx-button {
    margin: 1rem;
  }

  .jx-button.square {
    margin: 0.2rem;
  }
}
