.dm-board-tray {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;

  .handle {
    background: #00000073;
    padding: 0 0.4rem;
    border-radius: 0 0.4rem 0.4rem 0;
    color: white;
    cursor: pointer;
    height: 3rem;
    display: inline-flex;
    align-items: center;

    &:hover {
      background: #00000083;
    }

    .icon {
      margin-top: 1rem;
    }
  }

  .content {
    background: #00000073;
    transition: width 0.2s ease-in;
  }
}
