.dm-board {
  &.closed {
  }

  width: 3rem;
  height: 100%;
}

.dm-board-options {
  margin-top: 4rem;

  .dm-board-option {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .dm-board-option-flyout {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background: #4dfeb6;
    left: 3rem;
  }
}
