.image-tile {
  position: relative;
  width: 9rem;
  height: 9rem;
  background-size: cover;
  box-shadow: 1px 1px 6px 2px #00000052;
  border: 3px solid white;

  .image-tile-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Breathe-fire";
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 1px 1px #0000007d;
  }

  .image-tile-overlay {
    position: absolute;
    opacity: 0;
    background-color: #33b1d4fc;
    width: 100%;
    height: 100%;

    transition: opacity 0.1s ease-in;
  }

  &.selectable {
    cursor: pointer;
  }

  &:hover {
    .image-tile-overlay {
      opacity: 0.4;
    }
  }
}

.image-tile-group {
  display: flex;
  .image-tile {
    margin: 1rem;
  }
}
