.dm-scene-creator,
.dm-scene-creator-overlay,
.dm-scene-creator-content {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.dm-scene-creator {
  position: relative;
}

.dm-scene-creator-overlay {
  position: absolute;
}

.dm-scene-creator-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.dm-scene-creator-content .modal-page {
  .tile-group {
    margin: 0 auto;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .dm-scene-creator-page-split {
    display: flex;

    .dm-scene-creator-page-section {
      flex: auto;
    }
  }
}

.dm-scene-layout-select {
  text-align: center;
}
